slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

pre {
  max-height: 300px;
  overflow-y: auto;
}

pre[class] {
  max-height: 300px;
}

.scroll-300 {
  max-height: 300px;
  overflow-y: auto;
  background-color: inherit;
}

.scrollable {
  text-align: right;
    font-family: 'Courier';
}
